workflows/chunking_trigger.json
{
  "name": "chunking-trigger",
  "active": false,
  "_phase_2_5_note": "Auto-chunking trigger. Runs every 30 minutes; calls the Railway perception_worker /chunking-tick endpoint, which invokes scripts.chunking.process_ledger.run() — populates papers, chunks + embeds new evidence_ledger rows, AND scores them via Haiku 4.5. Idempotent at the kv_state level (per-paper) and at the workflow level (queue mode below + n8n's per-workflow concurrency=1 setting; OR-1).",
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "executionTimeout": 1800
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "name": "Every 30 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "id": "trigger-30m"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PERCEPTION_WORKER_URL }}/chunking-tick",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-Auth-Token", "value": "={{ $env.PERCEPTION_WORKER_AUTH_TOKEN || $env.PHASE5_WORKER_AUTH_TOKEN || $env.PHASE4_WORKER_AUTH_TOKEN || '' }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"limit\": 0, \"score\": true}",
        "options": {
          "timeout": 1500000
        }
      },
      "name": "Run chunking-tick",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "id": "chunking-call",
      "_comment": "POST to perception_worker /chunking-tick. Body: limit=0 means all unchunked ledger rows; score=true runs Haiku 4.5 relevance pass on any papers with NULL relevance_score. method:POST is explicit — older n8n defaulted to GET when method was omitted, producing 404 not_found."
    },
    {
      "parameters": {
        "jsCode": "// process_ledger.run() returns the totals dict; format a Telegram-ready summary.\nconst r = $input.first().json;\nconst chunks = r.chunks_inserted ?? 0;\nconst embedded = r.chunks_embedded ?? 0;\nconst papers = r.papers_inserted ?? 0;\nconst scored = r.relevance_scored ?? 0;\nconst failed = r.relevance_failed ?? 0;\nconst errs = r.errors ?? 0;\n// Only post a Telegram summary when something happened OR an error occurred —\n// chatty 30-min cron messages on quiet hours would burn the family's attention.\nconst noisy = (chunks + papers + scored + errs) > 0;\nconst summary = `📚 chunking-tick  +${papers} papers  +${chunks} chunks  +${embedded} embedded  +${scored} scored  ${errs ? '⚠️ '+errs+' errors' : ''}`;\nreturn [{ json: { summary, noisy, ...r } }];"
      },
      "name": "Format summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "id": "format-summary"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "is-noisy",
              "leftValue": "={{ $json.noisy }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Has new activity?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300],
      "id": "noisy-gate"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\", \"text\": {{ JSON.stringify($json.summary) }}}",
        "options": {}
      },
      "name": "Telegram summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 240],
      "id": "telegram-post"
    }
  ],
  "connections": {
    "Every 30 minutes": {
      "main": [[{ "node": "Run chunking-tick", "type": "main", "index": 0 }]]
    },
    "Run chunking-tick": {
      "main": [[{ "node": "Format summary", "type": "main", "index": 0 }]]
    },
    "Format summary": {
      "main": [[{ "node": "Has new activity?", "type": "main", "index": 0 }]]
    },
    "Has new activity?": {
      "main": [
        [{ "node": "Telegram summary", "type": "main", "index": 0 }],
        []
      ]
    }
  }
}
