workflows/daily-budget-gate.json
{
  "name": "daily-budget-gate",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "name": "Every 30 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "id": "trigger-30min"
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/runs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "token_cost"
            },
            {
              "name": "start_time",
              "value": "=gte.{{ $now.startOf('day').toISO() }}"
            },
            {
              "name": "kind",
              "value": "in.(agent_run,fire_drill)"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": {}
      },
      "name": "Supabase runs (today)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "id": "supabase-fetch"
    },
    {
      "parameters": {
        "jsCode": "// Sum token_cost from Supabase runs since midnight UTC.\n// FND-04 — gate fires when daily Anthropic spend > DAILY_BUDGET_USD.\nconst rows = $input.first().json || [];\nconst spend = rows.reduce((a, r) => a + parseFloat(r.token_cost || 0), 0);\nconst cap = parseFloat($env.DAILY_BUDGET_USD || '1.50');\nreturn [{ json: { spend_usd: Math.round(spend * 10000) / 10000, cap_usd: cap, row_count: rows.length, exceeded: spend > cap } }];"
      },
      "name": "Compute Exceeded",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "id": "compute"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.exceeded }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      },
      "name": "Over Cap?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300],
      "id": "over-cap"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "BUDGET_LOCKED",
        "value": "true",
        "options": {}
      },
      "name": "Lock Budget",
      "type": "n8n-nodes-base.staticData",
      "typeVersion": 1,
      "position": [1140, 200],
      "id": "lock"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "text",
              "value": "=🔴 ბიუჯეტი დაბლოკილია დღევანდელ თარიღში.\nდახარჯული: ${{ $node['Compute Exceeded'].json.spend_usd.toFixed(4) }}\nლიმიტი: ${{ $node['Compute Exceeded'].json.cap_usd.toFixed(2) }}\nrun_count: {{ $node['Compute Exceeded'].json.row_count }}\nშემდეგი Anthropic call ვერ ეშვება დღეს."
            }
          ]
        },
        "options": {}
      },
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 200],
      "id": "alert"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "BUDGET_LOCKED",
        "value": "false",
        "options": {}
      },
      "name": "Keep Open",
      "type": "n8n-nodes-base.staticData",
      "typeVersion": 1,
      "position": [1140, 400],
      "id": "keep-open"
    }
  ],
  "connections": {
    "Every 30 min": {
      "main": [[{ "node": "Supabase runs (today)", "type": "main", "index": 0 }]]
    },
    "Supabase runs (today)": {
      "main": [[{ "node": "Compute Exceeded", "type": "main", "index": 0 }]]
    },
    "Compute Exceeded": {
      "main": [[{ "node": "Over Cap?", "type": "main", "index": 0 }]]
    },
    "Over Cap?": {
      "main": [
        [{ "node": "Lock Budget", "type": "main", "index": 0 }],
        [{ "node": "Keep Open", "type": "main", "index": 0 }]
      ]
    },
    "Lock Budget": {
      "main": [[{ "node": "Telegram Alert", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "FND-04 — sums token_cost from Supabase runs (since midnight UTC) and flips BUDGET_LOCKED when > DAILY_BUDGET_USD. No Anthropic Admin Key required; uses our existing service-role key + appended-only runs ledger.",
    "phase": 0,
    "requirement": "FND-04",
    "data_source": "supabase.runs (replaces Anthropic Usage API)"
  }
}
