workflows/daily_spend_report.json
{
  "name": "daily-spend-report",
  "active": false,
  "_phase_4_note": "Phase 4 OBS-03 — pure n8n version (no Railway Python worker dependency). Fires once per day at 12:00 UTC (08:00 ET EDT, 07:00 ET EST). Queries Supabase /rest/v1/runs for yesterday's spend, formats a 3-line Georgian Telegram message, sends it, then writes a 'daily_spend_report' runs row for verifier OBS-03.",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 12 * * *" }
          ]
        }
      },
      "name": "Daily 12:00 UTC (08:00 ET EDT)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 300],
      "id": "trigger-daily"
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/runs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "kind,token_cost,start_time" },
            { "name": "start_time", "value": "=gte.{{ $now.minus({hours:24}).toISO() }}" },
            { "name": "limit", "value": "5000" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "name": "Fetch 24h runs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300],
      "id": "fetch-runs"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate runs into a 3-line Georgian Telegram message.\n// Mirrors scripts.observer.daily_spend_report._format_message().\nconst rows = $input.first().json || [];\nconst arr = Array.isArray(rows) ? rows : [];\n\nlet llmCalls = 0;\nlet llmSpend = 0;\nconst cron = {};\nconst labels = {\n  perception_tick: 'perception',\n  weekly_brief_trigger: 'weekly',\n  weekly_brief: 'weekly',\n  urgent_alert: 'urgent',\n  daily_digest: 'digest',\n  fire_drill: 'fire-drill',\n  budget_lock: 'budget-lock',\n  agent_run: 'agent',\n  validation_workflow: 'validation',\n  daily_spend_report: 'spend-report',\n};\nfor (const r of arr) {\n  if (r.kind === 'llm_call') {\n    llmCalls += 1;\n    llmSpend += parseFloat(r.token_cost || 0);\n  } else {\n    cron[r.kind] = (cron[r.kind] || 0) + 1;\n  }\n}\nconst cap = 1.5;\nconst pct = (llmSpend / cap) * 100;\nconst overCap = llmSpend > cap;\nconst warn = overCap ? '\\u26A0\\uFE0F ' : '';\nconst cronParts = Object.keys(cron).sort().map(k => `${cron[k]} ${labels[k] || k}`);\nconst cronLine = 'Cron: ' + (cronParts.length ? cronParts.join(' \\u00B7 ') : '0 runs');\nconst lines = [\n  '\\uD83D\\uDCCA ALEKSANDRA_BRAIN \\u2014 \\u10d2\\u10e3\\u10e8\\u10d8\\u10dc\\u10d3\\u10d4\\u10da\\u10d8 \\u10ee\\u10d0\\u10e0\\u10ef\\u10d8',\n  `${warn}LLM: ${llmCalls} \\u10ea\\u10d3\\u10d0 \\u00B7 $${llmSpend.toFixed(4)} (\\u10d1\\u10d8\\u10e3\\u10ef\\u10d4\\u10e2\\u10d8 ${pct.toFixed(1)}%)`,\n  cronLine,\n];\nif (overCap) lines.push('\\u10db\\u10d8\\u10d4\\u10ea\\u10d4\\u10e1 \\u10d2\\u10d0\\u10d3\\u10d0\\u10ee\\u10d4\\u10d3\\u10d5\\u10d0');\nreturn [{ json: { text: lines.join('\\n'), llmCalls, llmSpend, overCap, summary: { window_hours: 24, llm_calls: llmCalls, llm_spend_usd: llmSpend, cron_runs: cron, budget_cap_usd: cap, pct_of_cap: pct, over_cap: overCap } } }];"
      },
      "name": "Format message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300],
      "id": "format-message"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\", \"text\": {{ JSON.stringify($json.text) }}, \"disable_web_page_preview\": true}",
        "options": {}
      },
      "name": "Telegram send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300],
      "id": "telegram-send"
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/runs",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"kind\":\"daily_spend_report\",\"agent_id\":\"daily-spend-report\",\"start_time\":\"{{ $now.toISO() }}\",\"end_time\":\"{{ $now.toISO() }}\",\"token_cost\":0,\"tokens_input\":0,\"tokens_output\":0,\"exit_status\":\"sent\",\"exit_reason\":\"n8n cron fired pure-n8n daily spend report\"}",
        "options": {}
      },
      "name": "Append audit row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 300],
      "id": "append-runs"
    }
  ],
  "connections": {
    "Daily 12:00 UTC (08:00 ET EDT)": {
      "main": [[{ "node": "Fetch 24h runs", "type": "main", "index": 0 }]]
    },
    "Fetch 24h runs": {
      "main": [[{ "node": "Format message", "type": "main", "index": 0 }]]
    },
    "Format message": {
      "main": [[{ "node": "Telegram send", "type": "main", "index": 0 }]]
    },
    "Telegram send": {
      "main": [[{ "node": "Append audit row", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
