workflows/daily-budget-gate.json
{
  "name": "daily-budget-gate",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "name": "Every 30 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "id": "trigger-30min"
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/runs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "token_cost" },
            { "name": "start_time", "value": "=gte.{{ $now.startOf('day').toISO() }}" },
            { "name": "kind", "value": "in.(agent_run,fire_drill,llm_call)" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": {}
      },
      "name": "Supabase runs (today)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "id": "supabase-fetch"
    },
    {
      "parameters": {
        "jsCode": "// FND-04 — sum token_cost since midnight UTC for agent_run + fire_drill + llm_call.\nconst rows = $input.all().map(i => i.json);\nconst spend = rows.reduce((a, r) => a + parseFloat(r.token_cost || 0), 0);\nconst cap = parseFloat($env.DAILY_BUDGET_USD || '1.50');\nconst exceeded = spend > cap;\nreturn [{ json: {\n  spend_usd: Math.round(spend * 10000) / 10000,\n  cap_usd: cap,\n  row_count: rows.length,\n  exceeded,\n  budget_locked: exceeded,\n  checked_at: new Date().toISOString()\n} }];"
      },
      "name": "Compute Exceeded",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "id": "compute"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2 },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.exceeded }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ]
        }
      },
      "name": "Over Cap?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300],
      "id": "over-cap"
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/runs",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"kind\": \"budget_lock\",\n  \"agent_id\": \"daily-budget-gate\",\n  \"exit_status\": \"killed_by_budget_gate\",\n  \"exit_reason\": \"daily spend ${{ $json.spend_usd }} exceeded cap ${{ $json.cap_usd }}\",\n  \"end_time\": \"{{ $json.checked_at }}\",\n  \"token_cost\": 0\n}",
        "options": {}
      },
      "name": "Log Lock to runs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 200],
      "id": "log-lock"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\",\n  \"text\": \"🔴 ბიუჯეტი დაბლოკილია დღევანდელ თარიღში.\\nდახარჯული: ${{ $node['Compute Exceeded'].json.spend_usd }}\\nლიმიტი: ${{ $node['Compute Exceeded'].json.cap_usd }}\\nrun_count: {{ $node['Compute Exceeded'].json.row_count }}\\nშემდეგი Anthropic call ვერ ეშვება დღეს.\"\n}",
        "options": {}
      },
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 200],
      "id": "alert"
    },
    {
      "parameters": {
        "jsCode": "// FND-04 — under cap. Just log + return; no Telegram noise.\nconst d = $input.first().json;\nconsole.log(`budget OK: spent $${d.spend_usd}/$${d.cap_usd} (${d.row_count} runs)`);\nreturn [{ json: d }];"
      },
      "name": "Under Cap (no-op)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 400],
      "id": "noop"
    }
  ],
  "connections": {
    "Every 30 min": {
      "main": [[{ "node": "Supabase runs (today)", "type": "main", "index": 0 }]]
    },
    "Supabase runs (today)": {
      "main": [[{ "node": "Compute Exceeded", "type": "main", "index": 0 }]]
    },
    "Compute Exceeded": {
      "main": [[{ "node": "Over Cap?", "type": "main", "index": 0 }]]
    },
    "Over Cap?": {
      "main": [
        [{ "node": "Log Lock to runs", "type": "main", "index": 0 }],
        [{ "node": "Under Cap (no-op)", "type": "main", "index": 0 }]
      ]
    },
    "Log Lock to runs": {
      "main": [[{ "node": "Telegram Alert", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "description": "FND-04 — sums token_cost from Supabase runs (since midnight UTC) for agent_run, fire_drill, and llm_call rows and on over-cap (1) writes a budget_lock row to runs and (2) sends Telegram alert. Other workflows query the latest budget_lock row before any Anthropic call.",
    "phase": 0,
    "requirement": "FND-04",
    "data_source": "supabase.runs"
  }
}
